// COLOR VARIABLES
$color-primary-red-1: #7C330A;
$color-primary-red-2: #862929;
$color-primary-red-3: #CDA7A4;

$color-dark-1: #231F20;
$color-grey-1: #EAEAEA;

// // FONT VARIABLES
// $font-primary: 'Nunito', sans-serif;
// $font-display: 'Josefin Sans', sans-serif;

// // RESPONSIVE BREAKPOINTS
// $bp-largest: 75em;   // 1200px
// $bp-large: 62.5em;   // 1000px
// $bp-medium: 50em;    // 800px;
// $bp-small: 37.5em;    // 600px;

