.header {
    display: flex;
    justify-content: space-around;
    border: 1px solid $color-grey-1;
    color: $color-primary-red-1;

    header-menu {
        display: flex;
    }

    &-sns {
        &-list {
            display: flex;
        }

    }

    &-logo {
        position: relative;


        &-title {
            position: absolute;
            color: darkred;
            font-size: 3rem;
            left: 40%;
        }

        &-img {
            height: 100%;
            width: 10vw;

            img {
                position: absolute;
                left: 40%;

                width: 10vh;
                height: auto;


                z-index: -10;
                height: 100%;
                display: block;
                transform: rotate(270deg);
                // filter: brightness(1.8) contrast(2) sepia(0.5) opacity(0.5) hue-rotate(250deg) blur(0.1px) saturate(300%);
                // opacity(0.8) sepia(0.3) hue-rotate(200deg)
            }
        }
    }
}