<div class="footer">
    <div class="footer-menu">
        <div class="footer-visit" *ngFor="let i of 4 | range;">
            <div class="footer-visit-title">
                Visit Creator's Page
            </div>
            <div class="footer-visit-list">
                <a class="footer-visit-link" href="">Github</a>
                <a class="footer-visit-link" href="">Twitter</a>
                <a class="footer-visit-link" href="">Instagram</a>
                <a class="footer-visit-link" href="">Wordpress</a>
            </div>
        </div>
    </div>
    
    <div class="footer-copyright">
        <div class="footer-copyright-messege">
            Wine Shop - mine Copyright &copy; Macumo-soft. All Rights Reserved. <br/>
            This is a Demo website. We don’t actually sell any wines
        </div>
        <div class="footer-copyright-term">
            <a href="term-of-use">Term of Use</a>
            <a href="privacy-policy">Privacy Policy</a>
            <a href="term-condition">Term &amp; Condition</a>
        </div>
    </div>

</div>

